#page-create-coleta {
    width: 100%;
    max-width: 1100px;
  
    margin: 0 auto;
  }
  
  #page-create-coleta header {
    margin-top: 48px;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #page-create-coleta header a {
    color: var(--title-color);
    font-weight: bold;
    text-decoration: none;
  
    display: flex;
    align-items: center;
  }
  
  #page-create-coleta header a svg {
    margin-right: 16px;
    color: var(--primary-color);
  }
  
  #page-create-coleta main {
    margin: 60px auto;
    padding: 54px;
    max-width: 950px;
    background: #FFF;
    border-radius: 8px;
  
    display: flex;
    flex-direction: column;
  }
  
  #page-create-coleta main h1 {
    font-size: 28px;
  }
 
  #page-create-coleta .new-coleta {
    width: 260px;
    height: 56px;
    background: var(--primary-color);
    border-radius: 8px;
    text-decoration: none;

    font-weight: bold;
    font-size: 16px;

    align-self: flex-end;
    margin-top: 40px;
    transition: background-color 0.2s;
    cursor: pointer;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
  
  #page-create-coleta .new-coleta strong {
    color: #FFF;
    font-size: 16px;
  }
  
  #page-create-coleta .new-coleta:hover {
    background: #2FB86E;
  }

  #customers-table {
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 100%;
    margin-top: 20px;
  }
  
  #customers-table td, #customers-table th {
    border: 1px solid #ddd;
    padding: 8px;
  }

  #customers-table .edit-column {
    width: 30px;
  }

  #customers-table .delete-column button {
    width: 30px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
  }
  
  #customers-table tr:nth-child(even){
    background-color: #f2f2f2;
  }
  
  #customers-table tr:hover {background-color: #ddd;}
  
  #customers-table th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: lightgrey;
    color: black;
  }